* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

/* MAIN */

body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}