* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

/* MAIN */

body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
    color: hsl(339deg 77.59% 54.51%);
}

p {
    margin-top: 3.5rem;
    text-align: center;
    font-weight: 400;
}